html {
    box-sizing: border-box;
    min-height: 100vh;
}
*,*::before,*::after {
    box-sizing: inherit;
}


body {
    background: rgb(80, 94, 101);
    font-size: 1.5rem;
    
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-block {
    min-width: 30%;
    padding-top: 2rem;
}
.inputblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 0 2rem 2rem 2rem;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
input {
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    padding-left:1rem ;
}

input:first-child {
    height: 3rem;
    border: 0;
    border-radius: 6px;
    
}
::placeholder {
    padding-left: .5rem;
    font-size: 1.1rem;
}

#button {
    height: 3rem;
    border: 0;
    border-radius: 6px;
    font-size: 1.4rem;
}
#button:hover {
    cursor: pointer;
}
ul {
    min-height: 3rem;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 1.5rem 1rem 1rem;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 1.6rem;
}

ul li {
    list-style-type: square;
    background-color: rgb(159, 161, 161);
    margin: 1rem 1rem 0 1rem;
    padding-left: 0.5rem;
    border-radius: 6px;
    position: relative;
}
ul li:hover {
    cursor: pointer;
}


.todolistblock h2{
    margin-top: 4rem;
    text-align: center;
}
span {
    position: absolute;
    right: .3rem;
    top: -0.6rem;
    transform: rotate(45deg);
    font-size: 2.5rem;
  
   color: brown;
}